{% extends "companydashboardbase.html" %}

{% block title %}OfficeMax's Impact{% endblock %}

{% block air_miles %}progress8{% endblock %}
{% block lifespan %}progress7{% endblock %}
{% block certifications %}progress4{% endblock %}
{% block reusability %}progress9{% endblock %}

{% block score %}7{% endblock %}
{% block summary %}Overall, OfficeMax manufactures and sells products of high-quality. They are almost always reusable and or have an appropriately long product lifespan. However, due to the lack of an ISO 14001 Certification, their Environmental Management Systems require scrutiny.{% endblock %}

