{% extends "base.html" %}

{% block title %}
The Reality of Paper
{% endblock %}


{% block maincontent %}

<div class="maincontainer">
    <div class="thecard">
        <div class="thefront"><h1>Q: Why Paper?</h1></div>
        <div class="theback"><h1>Answer:</h1><p>The answer is this.</p></div>
    </div>
    <div class="thecard">
        <div class="thefront"><h1>Q: Who Paper?</h1></div>
        <div class="theback"><h1>Answer:</h1><p>The answer is this.</p></div>
    </div>
    <div class="thecard">
        <div class="thefront"><h1>Q: How Paper?</h1></div>
        <div class="theback"><h1>Answer:</h1><p>The answer is this.</p></div>
    </div>
    <div class="thecard">
        <div class="thefront"><h1>Q: When Paper?</h1></div>
        <div class="theback"><h1>Answer:</h1><p>The answer is this.</p></div>
    </div>
    <div class="thecard">
        <div class="thefront"><h1>Q: What Paper?</h1></div>
        <div class="theback"><h1>Answer:</h1><p>The answer is this.</p></div>
    </div>
    <div class="thecard">
        <div class="thefront"><h1>Q: Which Paper?</h1></div>
        <div class="theback"><h1>Answer:</h1><p>The answer is this.</p></div>
    </div>
    <div class="thecard">
        <div class="thefront"><h1>Q: Whether Paper?</h1></div>
        <div class="theback"><h1>Answer:</h1><p>The answer is this.</p></div>
    </div>
    <div class="thecard">
        <div class="thefront"><h1>Q: Wheeee Paper?</h1></div>
        <div class="theback"><h1>Answer:</h1><p>The answer is this.</p></div>
    </div>
    <div class="thecard">
        <div class="thefront"><h1>Q: WHER Paper?</h1></div>
        <div class="theback"><h1>Answer:</h1><p>The answer is this.</p></div>
    </div>
</div>

{% endblock %}
