{% extends "companydashboardbase.html" %}

{% block title %}
Your Choice has an Impact
{% endblock %}

{% block configuration %}Configuration: {{company}}, {{product}}, {{units}}, {{country}}{% endblock %}

{% block air_miles %}{{air_miles}}{% endblock %}
{% block lifespan %}{{lifespan}}{% endblock %}
{% block certifications %}{{certifications}}{% endblock %}
{% block reusability %}{{reusability}}{% endblock %}

{% block score %}{{score}}{% endblock %}
{% block summary %}{{summary}}{% endblock %}

